<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Sample">
    <test name="Simple">
         <classes>
             <class name="com.qa.demo.Test1"/>
             <class name="com.qa.demo.Test2"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->